<div class="row">
    <div class="col">
        <label for="age">Age:</label>
        <input required class="form-control" type="number" step="any" name="age" id="age">
    </div>
    <div class="col">
        <label for="sex">sex:</label>
        <select class="form-control" name="sex" id="sex">
            <option value="1">male</option>
            <option value="0">female</option>
        </select>
    </div>
    <div class="col">
        <label for="cp">Chest Pain:</label>
        <input required class="form-control" type="number" step="any" name="cp" id="cp">
    </div>
    <div class="col">
        <label for="restbp">RestBp:</label>
        <input required class="form-control" type="number" step="any" name="restbp" id="restbp">
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="chol">Chol:</label>
        <input required class="form-control" type="number" step="any" name="chol" id="chol">
    </div>
    <div class="col">
        <label for="fbs">FBS:</label>
        <input required class="form-control" type="number" step="any" name="fbs" id="fbs">
    </div>
    <div class="col">
        <label for="restecg">restECG:</label>
        <input required class="form-control" type="number" step="any" name="restecg" id="restecg">
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="thalach">HeartBeat:</label>
        <input required class="form-control" type="number" step="any" name="thalach" id="thalach">
    </div>
    <div class="col">
        <label for="exang">Exang:</label>
        <input required class="form-control" type="number" step="any" name="exang" id="exang">
    </div>
    <div class="col">
        <label for="oldpeak">OldPeak:</label>
        <input required class="form-control" type="number" step="any" name="oldpeak" id="oldpeak">
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="slope">slope:</label>
        <input required class="form-control" type="number" step="any" name="slope" id="slope">
    </div>
    <div class="col">
        <label for="ca">CA:</label>
        <input required class="form-control" type="number" step="any" name="ca" id="ca">
    </div>
    <div class="col">
        <label for="thal">thal:</label>
        <input required class="form-control" type="number" step="any" name="thal" id="thal">
    </div>
</div>
