{% extends 'base.html' %}

{% block title %} analyse {% endblock title %}

{% block content %}
<div class=" mt-5 container border border-secondary p-3 ">
    <h3 class="text-center mt-2">Heart Disease Predictor</h3>
    <h6 class="text-center ">using {{model}} model </h6>
    <hr>
    {% for message in messages %} 
    <div class="alert alert-info">{{message}}</div>
    {% endfor %}
    <form action="" class="m-2" method="POST">
        {% csrf_token %}
        <div class="container-fluid">
            {% include 'main/!form.html' %}
            <input class="btn btn-dark my-3 btn-block" type="submit" value="Analyse Data">
            <a href="{% url 'index' %}" class="btn border-secondary">back to menu</a>
        </div>
    </form>
</div>
{% endblock content %}