{% extends 'base.html' %}

{% block title %} index {% endblock title %}
{% block style %}
<style>

</style>
{% endblock style %}

{% block content %}
  <div class=" row  mx-auto " style="min-height: 92vh;max-width: 1440px;" >
    <div class="col-12  col-md-6  d-flex justify-content-center align-items-center" >
      <div class=" px-md-5 w-75   " >

    <p class="my-5 my-md-0" style="font-size:50px;font-weight: 800;" >
      Check Your heart Right now
    </p>
    <p class="font-weight-medium ">Use this machine learning technique to predict your heart's health </p>
    <button class="btn btn-dark text-black   mr-2 " >
        <a  href="{% url 'index' %}" class="text-white"  > Get Started </a>
    </button>

    <button class="btn  text-black btn-outline-dark   ">Learn more</button>
      </div>
    </div>
    <div class="col-12 col-md-6  d-flex justify-content-center align-items-center">
    <img src="https://pngimg.com/uploads/doctor/doctor_PNG16039.png"/>
    </div>
  </div>

{% endblock content %}


{% block script %}{% endblock script %}